* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #f0f4f8;
    color: #0a192f;
    font-family: 'Arima', system-ui;
}

h1, h2, h3, .logo {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0,5px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: #0a192f;
    font-family: 'Arima', system-ui;
    font-size: 1rem;
    font-weight: 500;
}